<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2iPgmKDwRcc5TI4n2CTX-f0gmqlnLhDs</string>
	<key>GCM_SENDER_ID</key>
	<string>122410577721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mo.platziApp</string>
	<key>PROJECT_ID</key>
	<string>platziapp-4bf9f</string>
	<key>STORAGE_BUCKET</key>
	<string>platziapp-4bf9f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122410577721:ios:4a5454c71e6d190b6182e8</string>
</dict>
</plist>